body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  margin-left: 10rem;
}

.container h1 {
  font-size: 30px;
  font-weight: 400;
}

.container h3 {
  font-size: 30px;
  font-weight: 400;
}

thead {
  text-align: left;
}

input[type="text"] {
  width: 700px;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 20px;
}

form div label {
  font-size: 18px;
}

form button,
td button {
  background-color: #2675f0;
  border: none;
  width: 100px;
  padding: 15px;
  border-radius: 10px;
}

hr {
  text-align: left;
  border: 0.1px solid black;
  width: 120%;
}
